@mixin font-style($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin line-clamp-text-formated {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
