// Colors
$white: #fff;
$black: #000;
$shark: #272b33;
$tuna: #3c3e44;
$silver-chalice: #9e9e9e;

$main-background: $shark;

$card-background: $tuna;
$card-topic-text: $silver-chalice;

// Breakpoints
$screen-tablet: '(min-width: 650px)';
$screen-desktop: '(min-width: 1200px)';

// Sizes

// Layout
$width-conteiner: 1400px;
$gap-conteiner: 40px;

// Box-shadows
$card-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;

// Z-indexes
$z-index-header: 50;
